<div class="block">
  <h3>Recherche</h3>
  <div class="content">
    <% form_for @search do |f| -%>
      <ol class="formlist">
      	<li>
					<%= f.label :software_like, "Logiciel" %>
					<%= f.text_field :software_like %>
				</li>
				<li>
					<%= f.submit "Recherche", :disable_with => 'Recherche...' %>
				</li>
      </ol>
    <% end -%>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>