<h1>Liste des utilisateurs</h1>

<table>
  <tr>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to 'Voir', user %></td>
    <td><%= link_to 'Éditer', edit_user_path(user) %></td>
    <td><%= link_to 'Détruire', user, :confirm => 'Êtes-vous sûr?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_user_path %>