<div class="group">
  <%= f.label :name, "Nom / numéro du modèle", :class => :label %>
  <%= text_field_with_auto_complete :model_number, :name, {:class => "text_field"},:method => :get %>
  <span class="description">Alphanumérique</span>
</div>
<div class="group navform">
  <input type="submit" class="button" value="Sauvegarder &rarr;" />
</div>