<div class="block">
  <h3>Recherche</h3>
	  <div id="sidebar_content" class="content">
			<%= render(:partial => "search") %>
	  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>