<div class="block">
  <h3>Simple Block</h3>
  <div class="content">
    <% form_for @maker, :html => {:class => :form}do |f| -%>
      <%= f.label :Name, "Frabriquant" %>
			<%= f.text_field :name %>
			<%= f.submit "Soumettre", :disable_with => 'Soumis...' %>
    <% end -%>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>