<div class="block">
  <h3>Ajout de données pour les listes déroulantes</h3>
  <div class="content">
    <% remote_form_for :maker, :html => {:class => :form} do |f| -%>
      <%= f.label :Name, "Fabriquant", :class => "label" %>
			<%= f.text_field :name, :class => "text_field" %>
			<%= f.submit "Soumettre"%>
    <% end -%>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>